[submodule "external/ros2_tracing"]
	path = external/ros2_tracing
	url = https://github.com/ros2/ros2_tracing.git
	branch = humble
[submodule "ros2_tracing"]
	path = ros2_tracing
	url = https://github.com/ros2/ros2_tracing.git
	branch = humble
